<!--
 * @Descripttion: FYM
 * @version: 1.0
 * @@Company: DCIT-SH
 * @Date: 2021-03-06 14:54:16
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-03-08 20:12:39
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
    <script src=""></script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="logo_img">

            </div>

            <div class="right">
                <div class="my">

                </div>

                <div class="download">

                </div>

            </div>

        </div>

        <div class="banner">
            <div class="search_home">
                <div class="search_btn">

                </div>
                <input type="text" placeholder="输入小区或者标签名开始找房咯!">
            </div>
        </div>

        <div class="home_types">
            <div class="home_item">
                <div class="put_img ershou"></div><span>二手房</span></div>
            <div class="home_item">
                <div class="put_img xinfang"></div><span>新房</span></div>
            <div class="home_item">
                <div class="put_img zufang"></div><span>租房</span></div>
            <div class="home_item">
                <div class="put_img maifang"></div><span>卖房</span></div>
        </div>


        <div class="banner2">

        </div>

        <div class="cpntent_title">
            <span class="chin">热门房源</span>
            <span class="eng">Hot house</span>
        </div>

        <div class="some_homes">
            <div class="home_item">
                <div class="left_img"></div>
                <div class="home_desc">
                    <div class="desc_title"><span>文化部中间一层 一层带阿诗丹顿教案课件大赛大家来看</span></div>
                    <div class="desc_area"><span class="st">2室1厅96㎡南北</span><span class="price">1105万</span></div>
                    <div class="desc_address"><span class="sr">红庙北里</span><span class="sc">14268元/平</span></div>
                    <div class="desc_tips">
                        <div class="tips_item">学区房</div>
                        <div class="tips_item">独家</div>
                    </div>
                </div>
            </div>

            <div class="home_item">
                <div class="left_img"></div>
                <div class="home_desc">
                    <div class="desc_title"><span>文化部中间一层 一层带阿诗丹顿教案课件大赛大家来看</span></div>
                    <div class="desc_area"><span class="st">2室1厅96㎡南北</span><span class="price">1105万</span></div>
                    <div class="desc_address"><span class="sr">红庙北里</span><span class="sc">14268元/平</span></div>
                    <div class="desc_tips">
                        <div class="tips_item">学区房</div>
                        <div class="tips_item">独家</div>
                    </div>
                </div>
            </div>

            <div class="home_item">
                <div class="left_img"></div>
                <div class="home_desc">
                    <div class="desc_title"><span>文化部中间一层 一层带阿诗丹顿教案课件大赛大家来看</span></div>
                    <div class="desc_area"><span class="st">2室1厅96㎡南北</span><span class="price">1105万</span></div>
                    <div class="desc_address"><span class="sr">红庙北里</span><span class="sc">14268元/平</span></div>
                    <div class="desc_tips">
                        <div class="tips_item">学区房</div>
                        <div class="tips_item">独家</div>
                    </div>
                </div>
            </div>

        </div>

        <div class="attention_links">
            <div class="links_title">
                <span class="orange">热门关注</span>
                <span>友情链接</span>
            </div>

            <div class="home_links">
                <div class="links_left">
                    <ul>
                        <li><a href="">北京二手房</a></li>
                        <li><a href="">北京二手房价</a></li>
                        <li><a href="">海淀日租房</a></li>
                        <li><a href="">朝阳新房</a></li>
                    </ul>


                </div>
                <div class="links_right">

                    <ul>
                        <li><a href="">北京二手房</a></li>
                        <li><a href="">北京二手房价</a></li>
                        <li><a href="">海淀日租房</a></li>
                        <li><a href="">朝阳新房</a></li>
                    </ul>

                </div>
            </div>


        </div>
        <div class="footer">
            <div class="footer_title">北京找房无忧 &gt; 首页</div>
            <div class="port_direction">
                <div class="pors_item">
                    <div class="ports_img apple"></div>
                    <div class="ports_dec">
                        <span>IPhone</span>
                        <span>客户端</span>
                    </div>
                </div>
                <div class="pors_item">
                    <div class="ports_img android"></div>
                    <div class="ports_dec">
                        <span>Android</span>
                        <span>客户端</span>
                    </div>
                </div>
            </div>
            <div class="company_infor">
                <span>北京找房无忧房地产经纪公司</span>
                <span>网络经营许可证京ICP备20160812号</span>
            </div>
        </div>



        <div class="words_above">
            <div class="close"></div>
            <div class="icon"></div>
            <div class="advantage">
                <span>找房无忧</span>
                <span>市场行情，一手掌握</span>
            </div>
            <div class="orange_dow">免费下载</div>
        </div>
    </div>

</body>

</html>