<!--
 * @Descripttion: FYM
 * @version: 1.0
 * @@Company: DCIT-SH
 * @Date: 2021-03-10 09:20:40
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-03-10 11:48:14
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>普通登录</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/loginoridinary.css">
    <script src=""></script>
</head>

<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="logo_img">

        </div>

        <div class="right">
            <div class="my">

            </div>

            <div class="download">

            </div>

        </div>

    </div>
    <!-- 头部结束 -->


    <!-- 页面所在位置开始 -->

    <div class="routes">
        <b>首页</b><span> > 我的 > 登录 </span>
    </div>

    <!-- 页面所在位置结束 -->

    <!-- 用户大头开始 -->
    <!-- <div class="user_bg">
        <div class="user_avatar"></div>
        <div class="hello_user">
            <span>欢迎你</span>
            <span>18686868686</span>
        </div>
    </div> -->
    <!-- 用户大头结束 -->


    <!-- 输入信息开始 -->

    <div class="insert_messsage">
        <div class="message_item">
            <input type="text" name="phonenum" id="phonenum" placeholder="请输入手机号码">
            <div class="vfcorde_btn">发送验证码</div>
        </div>
        <!-- <div class="message_item">
            <input type="text" name="vfcodes" id=" vfcodes" placeholder="请输入短信中的验证码">
        </div>
        <div class="message_item">
            <input type="text" name="new_pwd" id="new_pwd" placeholder="请输入新密码">
        </div> -->
        <div class="message_item">
            <input type="text" name="affirm_pwd" id="affirm_pwd" placeholder="请输入短信中的验证码">
        </div>


    </div>

    <!-- 输入信息结束 -->

    <!-- 提交开始 -->
    <div class="submit">
        <div class="submit_btn">
            验证并登录
        </div>
        <div class="conventional_links">
            <a href="">立即注册</a>
            <a href="">忘记密码</a>
        </div>
    </div>
    <!-- 提交j结束 -->

</body>

</html>