<!--
 * @Descripttion: FYM
 * @version: 1.0
 * @@Company: DCIT-SH
 * @Date: 2021-03-10 09:20:40
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-03-10 10:32:35
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心登入</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/myhome.css">
    <script src=""></script>
</head>

<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="logo_img">

        </div>

        <div class="right">
            <div class="my">

            </div>

            <div class="download">

            </div>

        </div>

    </div>
    <!-- 头部结束 -->


    <!-- 页面所在位置开始 -->

    <div class="routes">
        <b>首页</b><span> > 我的</span>
    </div>

    <!-- 页面所在位置结束 -->

    <!-- 用户大头开始 -->
    <div class="user_bg">
        <div class="user_avatar"></div>
        <div class="hello_user">
            <span>欢迎你</span>
            <span>18686868686</span>
        </div>
    </div>
    <!-- 用户大头结束 -->


    <!-- 输入信息开始 -->

    <div class="insert_messsage">
        <div class="message_item">
            <span>我关注的房源</span>
            <div class="right"></div>
        </div>
        <div class="message_item">
            <span>我关注的小区</span>
            <div class="right"></div>
        </div>
        <div class="message_item">
            <span>我的看房记录</span>
            <div class="right"></div>
        </div>

    </div>

    <!-- 输入信息结束 -->

    <!-- 提交开始 -->
    <div class="submit">
        <div class="submit_btn">
            退出登录
        </div>
    </div>
    <!-- 提交j结束 -->

</body>

</html>