<!--
 * @Descripttion: FYM
 * @version: 1.0
 * @@Company: DCIT-SH
 * @Date: 2021-03-09 15:28:48
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-03-09 16:34:02
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>purchase</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/purchase.css">
    <script src=""></script>
</head>

<body>


    <!-- 搜索开始 -->
    <div class="search">
        <div class="search_home">

            <input type="text" placeholder="">
            <div class="search_btn">

            </div>
        </div>

    </div>

    <!-- 搜索结束 -->


    <!-- 售卖的房子开始 -->

    <div class="some_homes">
        <div class="home_item">
            <div class="left_img"></div>
            <div class="home_desc">
                <div class="desc_title"><span>西便门外大街2室1厅89平</span></div>
                <div class="desc_area"><span class="st">南北 高楼层/6层</span></div>
                <div class="desc_address"><span class="sr">签约价格:13244元/平</span><span class="sc">1105万</span></div>
                <div class="desc_date">
                    <span>签约日期:2015年11月10日</span>
                </div>
            </div>
        </div>

        <div class="home_item">
            <div class="left_img"></div>
            <div class="home_desc">
                <div class="desc_title"><span>花涧溪二期2室2厅90平</span></div>
                <div class="desc_area"><span class="st">南北 高楼层/6层</span></div>
                <div class="desc_address"><span class="sr">签约价格:13244元/平</span><span class="sc">1322万</span></div>
                <div class="desc_date">
                    <span>签约日期:2015年11月10日</span>
                </div>
            </div>
        </div>

        <div class="home_item">
            <div class="left_img"></div>
            <div class="home_desc">
                <div class="desc_title"><span>西便门外大街2室1厅89平</span></div>
                <div class="desc_area"><span class="st">南北 高楼层/6层</span></div>
                <div class="desc_address"><span class="sr">签约价格:13244元/平</span><span class="sc">1105万</span></div>
                <div class="desc_date">
                    <span>签约日期:2015年11月10日</span>
                </div>
            </div>
        </div>

    </div>




    <!-- 售卖的房子结束 -->





    <!-- 尾部开始 -->
    <div class="footer">
        <div class="footer_title">北京找房无忧 &gt; 售房信息</div>
        <div class="port_direction">
            <div class="pors_item">
                <div class="ports_img apple"></div>
                <div class="ports_dec">
                    <span>IPhone</span>
                    <span>客户端</span>
                </div>
            </div>
            <div class="pors_item">
                <div class="ports_img android"></div>
                <div class="ports_dec">
                    <span>Android</span>
                    <span>客户端</span>
                </div>
            </div>
        </div>
        <div class="company_infor">
            <span>北京找房无忧房地产经纪公司</span>
            <span>网络经营许可证京ICP备20160812号</span>
        </div>
    </div>

    <!--尾部结束  -->
</body>

</html>