<!--
 * @Descripttion: FYM
 * @version: 1.0
 * @@Company: DCIT-SH
 * @Date: 2021-03-08 20:22:03
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-03-08 23:37:42
-->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/rentalist.css">
    <script src=""></script>
</head>

<body>
    <!-- 头部开始 -->
    <div class="header">
        <div class="logo_img">

        </div>

        <div class="right">
            <div class="my">

            </div>

            <div class="download">

            </div>

        </div>

    </div>
    <!-- 头部结束 -->

    <!-- 页面所在位置开始 -->

    <div class="routes">
        <b>首页</b><span> > 北京租房 > 房源信息</span>
    </div>

    <!-- 页面所在位置结束 -->

    <!-- 房子图片开始 -->

    <div class="home_banner">

    </div>

    <!-- 房子图片结束 -->

    <!-- 房子描述开始 -->

    <div class="home_description">
        <div class="home_txt">
            天鹅湾小区精装两居,满五唯一,业主换房急售
        </div>
        <div class="attention">
            <div class="xin"></div>
            <span>关注</span>
        </div>
    </div>

    <!-- 房子描述结束 -->


    <!-- 房子价格详细开始 -->
    <div class="home_details">
        <div class="detail_item"><span>租金</span><span>2300元/月</span></div>
        <div class="detail_item"><span>房型</span><span>2室1厅</span></div>
        <div class="detail_item"><span>面积</span><span>204平方米</span></div>
    </div>

    <!-- 房子价格详细结束 -->

    <!-- 房子样式开始 -->

    <div class="home_style">

        <div class="style_item"><span>楼层:高楼/17层</span><span>朝向:南北</span></div>
        <div class="style_item"><span>装修:精装</span><span>供暖:集体供暖</span></div>
        <div class="style_item"><span>年代:2007年</span><span>楼型:板楼</span></div>
    </div>

    <!-- 房子样式结束 -->


    <div class="abouts_home">
        <div class="about_item">
            <div class="item_title">
                <span>经纪人点评</span>
                <div class="turnRight">
                </div>
            </div>
            <div class="itm_content">
                <div class="location">
                    地理位置:晶都国际处于酒仙桥中心地带，毗邻北京三大商圈，紧邻丽都商圈，隔四环与望京商圈相望，西南紧挨燕莎商圈,地理位置优越。周边配套:颐堤港商业中心，兆维大厦...
                </div>
            </div>
        </div>
        <div class="about_item">
            <div class="item_title">
                <span>看户客户记录</span>
                <div class="turnRight"></div>
            </div>
            <div class="itm_content">
                <div class="record">
                    近一个月新增0位看房客户，共50位
                </div>
            </div>
        </div>
        <div class="about_item">
            <div class="item_title">
                <span>位置及周边</span>
                <div class="turnRight">
                </div>
            </div>
            <div class="itm_content">
                <div class="map">
                    这个地方差一个百度地图API
                </div>
            </div>
        </div>
        <div class="about_item">
            <div class="item_title">
                <span>小区成交历史</span>
                <div class="turnRight"></div>
            </div>
            <div class="itm_content">
                <span>3室两厅,146平米,<i>5000元</i></span>
                <span>签约日期:2015-02-26</span>
            </div>
        </div>
    </div>


    <!-- 售卖者信息及联系方式开始 -->

    <div class="sell_person">

        <div class="per_img"></div>
        <div class="per_infor">
            <span>张的帅</span>
            <span>4001581855转0008</span>
        </div>

        <div class="contact_infor">
            <div class="contact_way">
                <div class="way_img"></div>
                <span>致电</span>
            </div>
            <div class="contact_way">
                <div class="way_img"></div>
                <span>短信</span>
            </div>
        </div>


    </div>





    <!-- 售卖者信息及联系方式结束 -->




    <!-- 尾部开始 -->
    <div class="footer">
        <div class="footer_title">北京找房无忧 &gt; 房源信息</div>
        <div class="port_direction">
            <div class="pors_item">
                <div class="ports_img apple"></div>
                <div class="ports_dec">
                    <span>IPhone</span>
                    <span>客户端</span>
                </div>
            </div>
            <div class="pors_item">
                <div class="ports_img android"></div>
                <div class="ports_dec">
                    <span>Android</span>
                    <span>客户端</span>
                </div>
            </div>
        </div>
        <div class="company_infor">
            <span>北京找房无忧房地产经纪公司</span>
            <span>网络经营许可证京ICP备20160812号</span>
        </div>
    </div>

    <!--尾部结束  -->
</body>

</html>